*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#header{
    width: 100%;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 3px;

    
}

#timecounter{
    float: right;
    
}

#Highscore{
    font: 18px;
}

#container{
    width: 30vw;
    max-width: 70%;
    height: 40vh;
    background-color: rgb(206, 206, 238);
    margin-top: 1.625rem;
    margin-left: 35%;
    border-radius: 30px;
    box-shadow: 0 0 10px 2px;
}


.btn{
    display: block;
    margin: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    background-color: rgb(70, 36, 70);
    padding: 5px 8px;
    border: solid 1px white ;
    border-radius: 10px ;
}

.btn:hover {
    border-color: black;
}

.start-btn{
    /* margin-left: 12vw; */
    font-size: 2rem;
    border-radius: 20px;

}

#startbtncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;

}