*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#header{
    width: 100%;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 3px;

    
}

#timecounter{
    float: right;
    
}

#Highscore{
    font: 18px;
}

#startpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    padding: 10px;
}

#quizrule{
   margin: 10px;
}

#container{
    width: 30vw;
    max-width: 70%;
    height: 40vh;
    background-color: rgb(206, 206, 238);
    margin-top: 1.625rem;
    margin-left: 35%;
    border-radius: 30px;
    box-shadow: 0 0 10px 2px;
}

#check{
   
        width: 30vw;
        max-width: 70%;
        height: 40vh;
        margin-top: 1.625rem;
        margin-left: 35%;
        font-style: italic;
  
}

#question-answer-container{
    text-align: center;

}

#questionsection{
    margin: 20px;
}

.btn{
    display: block;
    margin: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    background-color: rgb(70, 36, 70);
    padding: 5px 8px;
    border: solid 1px white ;
    border-radius: 10px ;
}

.btn:hover {
    opacity: 0.8;
    border-color: black;
}

.start-btn{
    /* margin-left: 12vw; */
    font-size: 2rem;
    border-radius: 20px;

}

#startbtncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;

}


li{
    list-style-type:decimal;
    text-align: left;
    margin: 10px;
    padding: 10px 10px 5px 10px;
    font-weight: 600;
    width: 50%;
    background-color: #cdbbdd;
    border-radius: 20px;
}

.maincontainer{
   
    width: 50vw;
    max-width: 70%;
    height: 40vh;
    margin-top: 1.625rem;
    margin-left: 35%;

}

.scoremessage{

    font-weight:600;
    margin: 5px;

}

.btndiv{
    display: flex;
}


